body{
	/*color: #ffffff  RGB,16進数だから最大はf*/
	color: #333;/*000で真っ黒*/
}
.container{
	width: 960px;
	margin: 0 auto;
}
header{
	height: 250px;
	background-image:url(../images/header_bg.png);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
header h1{
	font-size: 80px;
}
nav ul{
	padding: 5px 30px;
	background:#666;
	display: flex;
	justify-content:flex-end;
}

nav ul li a{
	/*インライン要素からブロック要素に変える*/
	display: block;
	padding: 5px 10px;
	border-radius: 5px;
	background:#999;
	color: white;
	text-decoration: none;
	margin: 5px 10px;
	border: 1px solid #333;
}

div[role="main"]{
	background: #eee;
	/*paddingで3つ指定したら上　左右　下*/
	padding: 30px 30px 70px;
}
h2{
	text-align: center;
	font-size: 30px;
	margin-top: 30px;
}

h2 + p{
	text-align: center;
	margin-bottom: 20px;
}

#infoBox{
	display: flex;
}

#infoBox .info{
	position: relative;
	border-radius: 5px;
	border: 1px solid #333;
	margin: 20px 10px;
	background: white;
	min-width: 220px;
}

#infoBox .info h3{
	padding: 5px 20px;
	background: #666;
	color: #eee;
}

#infoBox .info p{
	padding: 10px 20px 30px;
}

#infoBox .info p a{
	position: absolute;
	bottom: 10px;
	right: 15px;
}
#blogBox{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.blogItem{
	position: relative;
	display: flex;
	align-items: flex-start;
	flex-basis: 43%;
	border: 1px solid #333;
	border-radius: 5px;
	padding: 16px 16px 30px;
	margin: 10px;
	background: white;
}

.blogItem > a{
	position: absolute;
	bottom: 10px;
	right: 20px;
}

.blogItem:nth-child(even){
	flex-direction: row-reverse;
}

.blogItem img{
	width: 130px;
}
.blogItem:nth-child(odd) img{
	margin-right: 10px;
}
.blogItem:nth-child(even) img{
	margin-left: 10px;
}
footer{
	text-align: center;
	padding: 10px 0;
	background: #666;
	color: white;
}
